$font-color : red;

$background : #00A8CC, #0C7B93, #27496D, #142850;

$background2 : #B70404,#F79327, #FFE569 ;

$background-linear :  linear-gradient(to left bottom, rgb(183, 4, 4), rgb(191, 99, 0));